.auth-form {
  margin: 1rem auto 0 auto;

  input {
    margin-top: .25rem;
    padding: .5rem 1rem;
  }

  .form-section {
    margin-bottom: 1rem;
  }

  button {
    padding: .5rem 1rem;
    cursor: pointer;
    margin-right: .5rem;
  }

  a {
    padding: .5rem 1rem;
    text-decoration: none;
  }
}